@import "CirclesContainer";

.app {
  height: 100vh;
  margin: auto;
  max-width: 300px;
  text-align: center;
  display: flex;
  align-items: center;

  &__wrapper {
    display: block;
    width: 100%;
    max-height: 100vh;
    border: 1px solid grey;
    padding: 8px;
  }

  .header {
    height: 30px;
    &__element {
      display: inline-block;
      width: 30%;
    }
  }
}