@keyframes smooth {
  from {
    opacity: 0;
    top: -60px;
    height: 0px;
  }
  to {
    opacity: 1;
    top: 0px;
    height: 60px;
  }
}

.circles-container {
  overflow: scroll;
  height: 450px;
  max-height: calc(100vh - 62px);
  display: block;
  position: relative;
  transition-property: height;
  transition-duration: 2s;
  transition-timing-function: linear;
  .circle {
    &__wrapper {
      width: 100%;
      position: relative;
      animation: smooth 2s;
    }

    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 30px;

    &--pink {
      background-color: pink;
    }

    &--green {
      background-color: green;
    }

    &--blue {
      background-color: blue;
    }

    &--purple {
      background-color: purple;
    }
  }
}